body {
  background-color: lightblue;
  font-size: large;
}

.long-description {
  border: 2px solid blue;
  padding: 10px;
  background-color: lightgrey;
}

.arcana {
  background-color:white;
}
.gears {
  background-color: lightgrey;
}
.doors {
  background-color: burlywood;
}
.roses {
  background-color: lightcoral;
}
.eyes {
  background-color: lightskyblue;
}

.currentCard {
  background-color: lightgrey;
}

li.unflipped {
  display: none;
}

img.unflipped {
  opacity: 0;
}