:root {
  --attra-primary: #1B1464;
  --attra-secondary: #A1A1A1;

  --asmus-primary: #9E0B0F;
  --asmus-secondary: #F7941D;

  --stel-primary: #F7941D;
  --stel-secondary: #000000;

  --nizari-primary: #A1A1A1;
  --nizari-secondary: #000000;

  --idona-primary: #6AAE97;
  --idona-secondary: #673B3A;

  --veras-primary: #673B3A;
  --veras-secondary: #A1A1A1;

  --ralis-primary: #FFFFFF;
  --ralis-secondary: #F7941D;
}

@media (prefers-color-scheme: light) {
  body {
    color: #121212;
    background: #aaa;
    background-color: white;
  }
}

.modal-dialog div {
 background: #333;
 border: 1px solid white;
}
.btn-close {
  background-color: #eee
}

body {
  background-color: #121212;
  color: #eee;
  font-size: large;
}

header {
background-color: #333;
/*
  background-image: linear-gradient(var(--idona-secondary),var(--asmus-secondary), var(--nizari-primary));
*/
  color: white;
}

.sticky {
  position: sticky;
  top: 0px;
}

.info-box {
  cursor: pointer;
  font-style: italic;
}

.long-description {
  padding: 10px;
  background-color: #333;
  color: #eee;
  display: none;
}

.currentQuestion {
  border: 4px solid #eee;
  padding: 2px;
  background-color:#333;
  cursor: crosshair;
}

.currentFaction {
  outline: 4px solid #eee;
}

.currentDraw {
  outline: 10px dotted;
  cursor: crosshair;
}

.unflipped {
  display: none;
}

img.unflipped {
  display: block;
  opacity: 0;
}

.nav-item {
  padding-top: 20px;
}
.nav-item:hover{
  border-bottom: 1px solid white;
  padding-top: 0px;
  padding-bottom: 10px;
}

#nav-idona a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--idona-secondary),var(--idona-primary), var(--idona-secondary));
}
#nav-asmus a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--asmus-primary),var(--asmus-secondary), var(--asmus-secondary), var(--asmus-primary));
}
#nav-stel a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--stel-secondary),var(--stel-primary), var(--stel-primary), var(--stel-secondary));
}
#nav-nizari a {
  color: black;
  font-weight:bold;
  background-image: linear-gradient(to bottom, var(--nizari-secondary),var(--nizari-primary), var(--nizari-primary), var(--nizari-secondary));
}
#nav-veras a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--veras-primary),var(--veras-secondary), var(--veras-secondary), var(--veras-primary));
}
#nav-attra a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--attra-primary),var(--attra-secondary), var(--attra-secondary), var(--attra-primary));
}
#nav-ralis a {
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, var(--ralis-secondary),var(--ralis-primary), var(--ralis-primary), var(--ralis-secondary));
}
